/*
div{
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 2px solid black;
    position: absolute;
    top: 100px;
    left: 100px;
     transition-property: all;
    transition-duration: 2s;
    transition-timing-function: ease-in;
    transition-delay: 1s; 
    transition: all 2s ease-in 1s;
     transform: scale(2);
     rotate: z 180deg;
    transform: rotate(45deg);
    transition: all 2s ease-in;
    animation-name:colorAnimate;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    animation-delay: 1s;
    animation-iteration-count: 5;
    animation: colorAnimate 2s ease-in 0s infinite normal;
   
}
@keyframes colorAnimate {
    from{left: 0px;
    background-color: yellow;}
    to{right: 300px;
    background-color: blue;}
    
}*/
 /*div:hover{
    background-color: red;
    color: white;
    font-size: 20px;
    transform: scale(2);
    transition: all 2s ease-in 2s;
    rotate: 360deg; 
    transform: translateY(300px);
    transform: skew(30deg);
}*/

/* div:active{
    background-color: green;
} */

.loader{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 20px solid blue;
    border-top: 20px solid black;
    animation: spinAnimate .75s ease-in-out 0s infinite normal;
}

@keyframes spinAnimate {
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}