/* #box1{
    height:100px;
    width: 200px;
    background-color: green;
    font-size: 10px;
}

#box2{
    height:50px;
    width:33%;
    background-color: yellow;
    margin-left: 20%;
    font-size: 2em;
    width: 5em;
    width: 5rem;
} */

/* div{
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 2px solid black;
    display: inline-block;
}

#box1{
    background-image: url("cat-img.avif");
    background-size: cover;
} */

div{
    height: 100px;
    width: 100px;
    background-image: url("Nature-img.avif");
    background-size: cover;
    color: black;
    position: fixed;
    right: 0px;
    top: 50px;
}