/* div{
    height: 100px;
    width: 100;
    background-color: blueviolet;
     border-width: 2px;
    border-style: solid;
    border-color: brown; 
    border:2px solid brown;
    text-align: left;

}
h1{
    width: 100px;
    height: 100px;
    background-color: yellowgreen;
    border-width: 3px;
    border-style: dashed;
    border-color: black;
    text-align: center;
} 

div{
    height: 100px;
    width: 100px;
    background-color: pink;
    border: 2px solid red;
    text-align: center;
     border-radius: 50%; 
    border-radius: 12px;
    padding: 1px 2px 3px 4px;
    margin-top: 50px;
}*/

/* div{
    height: 100px;
    width: 100px;
    background-color: green;
    border-radius: 50%;
} 
 *{
    padding:0;
    margin:0;
    color: white;
 }
 #navbar{
    height:60px;
    background-color:#0f1111;
 }
 button{
    background-color: #f08804;
 }
 #logo{
    color: #f08804;
    font-size: 25px;
 }
 a{
    margin-right: 200px;
    text-decoration: none;
 }

 div{
    background-color: pink;
    display: inline;
 }
 button{
    display: block;
    color: red;
    background-color: black;
      border-radius: 12px;
 }

 div{
    width: 100px;
    height: 100px;
    margin: 25px;
    padding: 25px;
    display: inline-block;
 }

 #box1{
    background-color: rgba(0,0,255,0.5);
 }
 #box2{
    background-color: rgba(0,0,255,0.75);
 }
 #box3{
    background-color: rgba(0,0,255,1);
 }*/

  *{
    padding:0;
    margin:0;
    color: white;
 }
 #navbar{
    height:60px;
    background-color:#0f1111;
 }
 button{
    background-color: #f08804;
 }
 #logo{
    color: #f08804;
    font-size: 25px;
 }
 a{
    margin-right: 200px;
    text-decoration: none;
 }

 div{
    background-color: pink;
    display: inline;
 }
 button{
    display: block;
    color: red;
    background-color: black;
      border-radius: 12px;
 }
 .contentbox{
    width: 100px;
    height: 100px;
    border: 2px solid black;
 }