*{
    margin: 0;
    padding: 0;
}
body{
    background-color: aqua;
    text-align: center;
}

.container {
    height: 70vh;
    width: 70%;
    margin: 0 auto;    /* centers the container */
    display: flex;
    justify-content: center;
    align-items: center;
}


.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    font-size: 10vmin;
    color: brown;
    background-color: rgb(97, 23, 234);
}

.box.x {
  color: red;
}

/* O color */
.box.o {
  color: cyan;
}

#reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: chartreuse;
    border-radius: 1rem;
    border: none;
}

#new-btn{
     padding: 1rem;
    font-size: 1.1rem;
    background-color: chartreuse;
    border-radius: 1rem;
    border: none;
}

#msg{
    font-size: 5vmin;
}

.msg-container{
    height: 40vmin;
}

.hide{
    display: none;
}